# Ціль: вивчити команди формування запитів до бази даних (SELECT)

In [1]:
USE Accounting;

In [2]:
--здали сесію на 5
SELECT s.student_id,name,surname FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
WHERE term=1 and mark='5'

student_id,name,surname
1,Ivan,ivanov
5,daryna,kulyba
10,vasyl,symonenko

In [3]:
--сума стипендій по групах
SELECT sum(category) sum1,g.group_id FROM Results r
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN Students s 
ON s.student_id=r.student_id
INNER JOIN Groups g
ON s.group_id=g.group_id
WHERE term=1
Group BY g.group_id

sum1,group_id
8202.8000,1
5100.9000,2

In [4]:
--розмір призначеної стипендії студентам за групами
SELECT name,g.group_id,category FROM Results r
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN Students s 
ON s.student_id=r.student_id
INNER JOIN Groups g
ON s.group_id=g.group_id
WHERE term=1
ORDER BY g.group_id

name,group_id,category
Ivan,1,1800.9000
ivan,1,1200.5000
vadym,1,1100.0000
eugen,1,0.0000
olena,1,1200.5000
mykyta,1,1100.0000
vasyl,1,1800.9000
petro,1,0.0000
volodymyr,2,1100.0000
daryna,2,1800.9000
sergii,2,1100.0000
maksym,2,1100.0000