# Ціль: Вивчити класифікацію підзапитів і правила їх формування.

In [1]:
USE Accounting;

In [2]:
--середня стипендія по групах
SELECT avg(category) sum1,g.group_id FROM Results r
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN Students s 
ON s.student_id=r.student_id
INNER JOIN Groups g
ON s.group_id=g.group_id
WHERE term=1
GROUP BY g.group_id

sum1,group_id
1025.350000,1
1275.225000,2

In [3]:
--студенти+стипендія
SELECT s.student_id,name,c.category FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
INNER JOIN Category c
ON r.mark=c.mark
WHERE term=1

student_id,name,category
1,Ivan,1800.9000
2,ivan,1200.5000
3,vadym,1100.0000
4,eugen,0.0000
5,daryna,1800.9000
6,sergii,1100.0000
7,maksym,1100.0000
8,olena,1200.5000
9,mykyta,1100.0000
10,vasyl,1800.9000
11,petro,0.0000
12,volodymyr,1100.0000

In [4]:
--студенти стипендія яких вища за середню по групі
SELECT s.student_id,name,c.category FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN 
(SELECT avg(category) avg1,g.group_id FROM Results r
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN Students s 
ON s.student_id=r.student_id
INNER JOIN Groups g
ON s.group_id=g.group_id
WHERE term=1
GROUP BY g.group_id) b
ON b.group_id=s.group_id
WHERE term=1 AND c.category > avg1

student_id,name,category
1,Ivan,1800.9000
2,ivan,1200.5000
3,vadym,1100.0000
5,daryna,1800.9000
8,olena,1200.5000
9,mykyta,1100.0000
10,vasyl,1800.9000

In [5]:
--ті студенти в 2-му семестрі в яких стипендія більша за середню в 2-му семестрі 
SELECT name,surname,category FROM Students s
INNER JOIN Results r 
ON s.student_id=r.student_id 
INNER JOIN Category c 
ON r.mark=c.mark
WHERE term=2 and c.category>(SELECT avg(category)  FROM Results r
INNER JOIN Category c
ON r.mark=c.mark
INNER JOIN Students s 
ON s.student_id=r.student_id
WHERE term=2)

In [6]:
--студенти які здали на 5 в 1-му семестрі 
SELECT s.student_id,name,surname FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
WHERE term=1 and mark='5'

student_id,name,surname
1,Ivan,ivanov
5,daryna,kulyba
10,vasyl,symonenko