# Ціль: Знайомство з об’єктами СХЕМИ БАЗИ ДАНИХ. Створення і використання представлень.

In [2]:
USE Accounting;

In [3]:
--студенти які здали сесію в першому семестрі на 5 
CREATE VIEW vStudentMark5 
AS 
SELECT s.student_id,name,surname FROM Students s
INNER JOIN Results r
ON s.student_id = r.student_id
WHERE term = 1 AND mark = '5';

In [4]:
SELECT * FROM vStudentMark5;

student_id,name,surname
1,Ivan,ivanov
5,daryna,kulyba
10,vasyl,symonenko

In [5]:
--сума стипендій по групах
CREATE VIEW SumGroup
AS
SELECT sum(category) sum1,g.group_id FROM Results r
INNER JOIN Category c
ON r.mark = c.mark
INNER JOIN Students s 
ON s.student_id = r.student_id
INNER JOIN Groups g
ON s.group_id = g.group_id
WHERE term = 1
Group BY g.group_id;

In [8]:
SELECT * FROM SumGroup;

sum1,group_id
8202.8000,1
5100.9000,2

In [7]:
--розмір призначеної стипендії студентам за групами
CREATE VIEW StudentSum
AS
SELECT name,g.group_id,category FROM Results r
INNER JOIN Category c
ON r.mark = c.mark
INNER JOIN Students s 
ON s.student_id = r.student_id
INNER JOIN Groups g
ON s.group_id = g.group_id
WHERE term = 1;

In [9]:
SELECT * FROM StudentSum;

name,group_id,category
Ivan,1,1800.9000
ivan,1,1200.5000
vadym,1,1100.0000
eugen,1,0.0000
daryna,2,1800.9000
sergii,2,1100.0000
maksym,2,1100.0000
olena,1,1200.5000
mykyta,1,1100.0000
vasyl,1,1800.9000
petro,1,0.0000
volodymyr,2,1100.0000

In [11]:
--не можна вставити значення в таблицю Students (незмінювані view)
CREATE VIEW StudentNoInsert
AS
SELECT name,surname,group_id
FROM Students;

In [13]:
-- демонстрація того що дане в дане view не можна вставляти значення 
INSERT INTO StudentNoInsert
VALUES ('Василь','Симоненко',2);

: Msg 515, Level 16, State 2, Line 2
Cannot insert the value NULL into column 'patronymic', table 'Accounting.dbo.Students'; column does not allow nulls. INSERT fails.

# Додаткове завдання

In [14]:
--група в якій найбільше відмінників 
SELECT g.group_id,count(s.student_id) count1 FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
INNER JOIN Groups g 
ON s.Group_id=g.group_id
WHERE term=1 and mark='5' 
group by g.group_id
having count(s.student_id)=(
Select max(mycount) m from(
SELECT count(s.student_id) mycount FROM Students s
INNER JOIN Results r
ON s.student_id=r.student_id
INNER JOIN Groups g 
ON s.Group_id=g.group_id
WHERE term=1 and mark='5' 
group by g.group_id) m)

group_id,count1
1,2