# Ціль: Знайомство з об’єктами СХЕМИ БАЗИ ДАНИХ 
## Створення і використання тригерів

In [2]:
USE Accounting;

In [3]:
-- тригер на заборону зміни оцінки окрім 'Fx'
CREATE TRIGGER DeleteResults
ON Results FOR DELETE
AS
IF NOT EXISTS (SELECT mark FROM deleted
WHERE mark='Fx' )
BEGIN
RAISERROR('Неможна виправляти оцінку!!!',16,1)  
-- Відмова транзакції у випадку помилки
ROLLBACK TRAN
END;

In [4]:
DROP TRIGGER DeleteResults;

In [5]:
--сумарна таблиця всіх відмінників в першому семестрі 
CREATE VIEW StA
AS
SELECT s.name,s.surname,g.group_id FROM Results r
INNER JOIN Students s 
ON s.student_id=r.student_id
INNER JOIN Groups g
ON s.group_id=g.group_id
WHERE term=1 and mark='5';

In [6]:
SELECT * FROM StA;

name,surname,group_id
Ivan,ivanov,1
daryna,kulyba,2
vasyl,symonenko,1

In [7]:
-- тригер на view : перевірка чи існує такий студент,якщо так,то поставити оцінку '5' інакше вивести повідомлення
CREATE TRIGGER InsteadOfInsert
ON StA
INSTEAD OF INSERT
AS 
BEGIN
IF NOT EXISTS(SELECT i.name,i.surname,i.group_id
FROM inserted i
INNER JOIN Students s
ON s.group_id = i.group_id
WHERE s.name = i.name AND s.surname = i.surname)
BEGIN
RAISERROR('Немає такого студента',16,1)  
-- Відмова транзакції у випадку помилки
ROLLBACK TRAN
END
ELSE
BEGIN
UPDATE Results 
SET mark = '5'
WHERE student_id = (SELECT s.student_id
FROM Students s 
INNER JOIN inserted i
ON s.group_id = i.group_id
WHERE s.name = i.name AND s.surname = i.surname)
END
END;

In [8]:
DROP TRIGGER InsteadOfInsert;