# Ціль:
* Надбання навичок  настройки і роботи в середовищі SSMS. Визначення синтаксису  SQL: CREATE TABLE.
* Вивчити команди DDL: ALTER TABLE, DROP TABLE.
* вивчення синтаксису мови маніпулювання даними (Data Manipulation Language - DML)

In [29]:
--створення бази даних
CREATE DATABASE Accounting;

In [30]:
USE Accounting;

In [31]:
CREATE TABLE Groups
(group_id INT IDENTITY PRIMARY KEY ,
group_name VARCHAR(10) NOT NULL
CONSTRAINT g_name_mask CHECK
(group_name like '[A-Z][A-Z][0-9][0-9]'));

CREATE TABLE Students
(student_id INT IDENTITY
CONSTRAINT Student_primary PRIMARY KEY,
name VARCHAR(35) NOT NULL,
surname VARCHAR(35) 
CONSTRAINT Surname_not_null NOT NULL,
patronymic VARCHAR(35) NOT NULL,
group_id INT 
CONSTRAINT gFK FOREIGN KEY 
(group_id) REFERENCES Groups ON DELETE CASCADE);

-- Категорії оцінка-сума стипендії
CREATE TABLE Category
(cat_id INT  IDENTITY PRIMARY KEY,
mark VARCHAR(10) NOT NULL UNIQUE 
CONSTRAINT mark_ch CHECK
(mark IN('Fx','3','4-5','5')),
category DECIMAL(19,4) NOT NULL 
CONSTRAINT cat_check CHECK 
(category BETWEEN 0 AND 3000));

CREATE TABLE Results
(res_id INT IDENTITY PRIMARY KEY,
student_id INT NOT NULL
CONSTRAINT res_FK FOREIGN KEY
(student_id) REFERENCES Students ON DELETE CASCADE,

term SMALLINT NOT NULL
CONSTRAINT term_check CHECK
(term BETWEEN 1 AND 8),

mark VARCHAR(10) NOT NULL
CONSTRAINT mFK FOREIGN KEY 
(mark) REFERENCES Category(mark) ON DELETE CASCADE);

# Заповнюємо БД

In [32]:
INSERT INTO GROUPS VALUES('FI61');
INSERT INTO GROUPS VALUES('FI62');

INSERT INTO Category VALUES('Fx',0);
INSERT INTO Category VALUES('3',1100.0);
INSERT INTO Category VALUES('4-5',1200.5);
INSERT INTO Category VALUES('5',1800.9);

INSERT INTO Students VALUES('Ivan','ivanov','ivanovych',1);
INSERT INTO Students VALUES('ivan','petrenko','petrovych',1);
INSERT INTO Students VALUES('vadym','rybnov','ivanovych',1);
INSERT INTO Students VALUES('eugen','synii','oleksiyovych',1);
INSERT INTO Students VALUES('daryna','kulyba','anatoliivna',2);
INSERT INTO Students VALUES('sergii','smyrnov','pavlovych',2);
INSERT INTO Students VALUES('maksym','sydorenko','oleksandrovych',2);
INSERT INTO Students VALUES('olena','rudjak','makarivna',1);
INSERT INTO Students VALUES('mykyta','petrov','dmytrovych',1);
INSERT INTO Students VALUES('vasyl','symonenko','ivanovych',1);
INSERT INTO Students VALUES('petro','lyniov','ivanovych',1);
INSERT INTO Students VALUES('volodymyr','lisnyu','volodymyrovych',2);


INSERT INTO Results VALUES(1,1,'5');
INSERT INTO Results VALUES(2,1,'4-5');
INSERT INTO Results VALUES(3,1,'3');
INSERT INTO Results VALUES(4,1,'Fx');
INSERT INTO Results VALUES(5,1,'5');
INSERT INTO Results VALUES(6,1,'3');
INSERT INTO Results VALUES(7,1,'3');
INSERT INTO Results VALUES(8,1,'4-5');
INSERT INTO Results VALUES(9,1,'3');
INSERT INTO Results VALUES(10,1,'5');
INSERT INTO Results VALUES(11,1,'Fx');
INSERT INTO Results VALUES(12,1,'3');